
<div class="col-md-12">

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/1.jpg" alt="I'm Yeoman"><br>
      <span>Paul Bocose</span>
    </p>    
  </div>

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div>  

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/1.jpg" alt="I'm Yeoman"><br>
      <span>Paul Bocose</span>
    </p>    
  </div>

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div> 

  <div class="well col-md-2 col-space">
    <p class="lead">
      <img height="200" width="100%" src="images/2.jpg" alt="I'm Yeoman"><br>
      <span>Gregory Gourdet</span>
    </p>
  </div>  
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
